.outer {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--grn-color-background3);
  display: flex;
  justify-content: center;
  padding: var(--grn-space-l2) var(--grn-space-l);
  box-sizing: border-box;
}

.page {
  width: 100%;
  cursor: pointer;
  height: fit-content;
  background-color: var(--grn-color-background);
  box-shadow: var(--grn-shadow-m);
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.element:not(:has(img)) {
  padding: var(--grn-space-m) var(--grn-space-l2);
}
